<div class="share">
    <p>
        Share
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="mailto:iOS.devpino@gmail.com" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="far fa-paper-plane"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://github.com/92pino" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
                <i class="fab fa-github"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.linkedin.com/in/92pino" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>

    </ul>
</div>
